@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/victormono/woff2/VictorMono-Regular.woff2') format('woff2'),
    url('/fonts/victormono/woff/VictorMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/victormono/woff2/VictorMono-Italic.woff2') format('woff2'),
    url('/fonts/victormono/woff/VictorMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/victormono/woff2/VictorMono-Bold.woff2') format('woff2'),
    url('/fonts/victormono/woff/VictorMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/victormono/woff2/VictorMono-BoldItalic.woff2')
      format('woff2'),
    url('/fonts/victormono/woff/VictorMono-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

::selection {
  background-color: #26a69a;
  color: #fefefe;
}

pre,
code {
  font-family: 'Victor Mono', monospace;
}

html.dark {
  --text-color: white;
  --background-color: black;
}
